@mixin text-side {
    @media (max-width:750px) {
        padding: 0 4rem;
    }

    @media (max-width:600px) {
        width: 100%;
    }
}

@mixin img-side {
    @media (max-width:600px) {
        display: none;
    }
}

.banner {
    padding-top: 8rem;

    .container {
        margin: 0 auto;
        padding: 0 19px;

        .banner-container {
            display: flex;
            height: 40rem;
            justify-content: space-between;
            overflow: hidden;

            .text-side {
                align-items: center;
                background-color: #e9e9e9;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 0 11rem;
                text-align: start;
                width: 50%;
                @include text-side();

                h2 {
                    font-size: 3.2rem;
                    font-weight: 600;
                    margin-bottom: 1.5rem;
                }

                p {
                    font-size: 1.8rem;
                }

                .text {
                    button {
                        background-color: #000;
                        border: 2px solid #000;
                        color: #fff;
                        cursor: pointer;
                        font-size: 1.7rem;
                        font-weight: 700;
                        margin-top: 2rem;
                        padding: 1rem;
                        text-transform: uppercase;
                        transition: all .15s;
                    }

                    button:hover {
                        background-color: transparent;
                        color: black;
                    }
                }
            }

            .img-side {
                width: 50%;

                img {
                    height: 100%;
                    object-fit: cover;
                    object-position: 50% 50%;
                    width: 100%;
                }

                @include img-side();
            }
        }
    }

}