.card {
    padding-top: 2rem;
    padding-bottom: 6em;
    .container {
        margin: 0 auto;
        padding: 0 19px;
        width: 90%;
        h1 {
            font-size: 2em;
            padding: 2em;
            text-align: center;
        }
        .content {

            a {

                text-decoration: none;
            }

            .item {

                transition: .2s;

                figure {
                    img {
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                        width: 100%;

                    }
                }

                .info-product {
                    h2 {
                        font-size: 2em;
                        color: black;
                        text-align: center;

                    }

                    .price {

                        font-size: 2em;
                        color: black;
                        text-align: center;
                    }
                }
            }

            .item:hover {

                border: 2px solid #000000;

            }
        }

    }
}