.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 19px;

    .catego-header {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin-bottom: -4rem;
        padding-top: 17rem;

        a {
            color: #000;
            font-size: 1.6rem;
            text-decoration: none;
        }

        .title-home {
            align-items: center;
            display: flex;
            margin-bottom: 6rem;
            width: 100%;

            a {
                align-items: center;
                color: #000;
                display: flex;
                font-size: 1.6rem;
                justify-content: center;
                text-align: left;
                text-decoration: none;
            }
            

            a:hover,p:hover {
                p{
                    text-decoration: underline; 
                }
            }

            h3 {
                font-size: 2.7rem;
                margin: 0 auto;
                text-align: center;
                text-transform: uppercase;
            }
        }

        .filter-btns {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            justify-content: center;
            width: 100%;

            button {
                background-color: initial;
                border: 2px solid rgba(0, 0, 0, .3);
                cursor: pointer;
                padding: 0.6rem 1.6rem;
                transition: all .2s;
            }

        }
    }
}