@mixin tablet {
    @media only screen and (max-width:750px) {
        height: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 13px;
        gap: 13px;
    }
}

.proud {
    padding-top: 6rem;

    .container {
        margin: 0 auto;
        padding: 0 19px;

        h1 {
            font-size: 2.5em;
            text-align: center;
        }

        .grid-container {
            grid-gap: 1.3rem;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 1.3rem;
            @include tablet ();

            a {
                text-decoration: none;
            }

            .item {
                border: 2px solid #c2c2c2;
                transition: .5s;

                figure {
                    img {
                        height: 100%;
                        object-fit: cover;
                        object-position: 50% 50%;
                        width: 100%;
                    }

                }

                .info-product {
                    h2 {
                        font-size: 2em;
                        color: black;
                        text-align: center;

                    }

                    .price {

                        font-size: 2em;
                        color: black;
                        text-align: center;
                    }
                }
            }

            .item:hover {

                border: 2px solid #000000;

            }
        }
    }

}