.newletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: auto;
    background-color: rgb(52, 52, 52);
    padding: 0 auto;
    margin-top: 2em;
h1{
    padding: 1em;
    color: white;
    font-size: 1.9em;
}
    .container {
        padding-top: 3em;
        padding-bottom: 2em;
        .links {
            display: flex;
            gap: 3rem;
            flex-wrap: wrap;
            justify-content: center;

            a {
                color: white;
                text-decoration: none;
                font-size: 1.7rem;
            }

            a:hover {
                text-decoration: underline;
            }
        }

        p {
            color: white;
            padding: 1em;
            font-size: 1.7em;
        }

        .form-container {
            display: flex;
            justify-content: center;
            .nl-submit {
                padding: 8px;
                font-size: 17px;
                outline: none;
                border: none;
                margin-left: 7px;
                cursor: pointer;
            }
            input {
                padding: 8px;
                font-size: 17px;
                outline: none;
                border: none;
            }
        }
    }
}